# Create new or copy to config.env
# cp sample.env config.env

# REQUIRED
# Get from my.telegram.org at API development tools
API_ID=
API_HASH=

# REQUIRED
# Telegram Account ID ( SESSION1 )
OWNER_ID=

# REQUIRED
# Pyrogram Session
# run locally python3 -m pygen
SESSION1=

# Multi Client
SESSION2=
SESSION3=
SESSION4=
SESSION5=
SESSION6=
SESSION7=
SESSION8=
SESSION9=
SESSION10=

# REQUIRED
# TGB_TOKEN from @BotFather
TGB_TOKEN=

# Log Chat ID ( Logger )
LOGCHAT_ID=

# Set TimeZone
TimeZone=Asia/Jakarta

# ChatGPT API_KEY
AI_KEY=
AI_BASE=

# Instagram Account ( Owner )
IG_USN=
IG_PASS=
IG_SECRET=

# Prefix ( handler ) support . ! ? ; : ' _ - + / @
# Example PREFIX=! or list PREFIX=!,- (! and -) separated with comma.
PREFIX=.,!,?,;,:,',_,-,+,@
